<div class="top-bar">
    <h1 class="topright">Welcome to Curation Website!</h1>
    <small>Location: Dubai, U.A.E.</small>
    <ul class="nav nabar-nav" style="float:right">
        <li><a routerLink="login">Login</a></li>
    </ul>
</div>
