<div id="recommended" style="display: flex;">
    <div class="subsection" style="border: 1px solid black; padding: 10px; margin: 10px;">
        <h3>Check out these recommended resturants</h3>
        <p>https://www.atlantis.com/dubai/dining/milos</p>
        <p>https://www.fillicafe.com/</p>
        <p>https://www.jumeirah.com/en/dine/dubai/al-qasr-french-riviera</p>
        <p>https://vietnamesefoodies.com/</p>
    </div>
    <div class="subsection" style="border: 1px solid black; padding: 10px; margin: 10px;">
        <h3>Check out these recommended activities</h3>
        <p>https://www.burjkhalifa.ae/en/</p>
        <p>https://www.arabianadventures.com</p>
        <p>https://www.louvreabudhabi.ae</p>
        <p>https://www.dubaiopera.com/en-US/home</p>
    </div>
</div>