<app-top-bar></app-top-bar>
<!--
<div class="menu-container" clickOutside (clickOutside)="clickedOutside()">
  <div class="menu-toggler" (click)="toggleMenu()">Explore Dubai</div>
  <div class="menu" *ngIf="isMenuOpened">
    <div class="menu-item">About Dubai</div>
    <div class="menu-item">Weddings & Celebrations</div>
    <div class="menu-item">Curators</div>
    <div class="menu-item">Dubai Neighbourhoods</div>
    <div class="menu-item">Local culture</div>
    <div class="menu-item">Beyond Dubai</div>
    <div class="menu-item">Adventures in Hatta</div>
    <div class="menu-item">Discover Al Marmoom</div>
  </div>
-->
<div class="container">
  <router-outlet></router-outlet>
</div>

<body style="background-image: url('assets/img/BackgroundImage-V.jpg'); background-size: cover;">
  <div class="box">
    <input type="checkbox" id="check">
    <div class="search-box">
      <input type="text" placeholder="Search for Result">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
      <label for="check" class="icon">
        <i class="fas fa-search"></i>
      </label>
    </div>
    <div class="recommended-title" style="border: 1px solid black; padding: 10px; margin: 15px; background-color: aliceblue; text-align: center;">
      <h3>Recommended For You</h3>
    </div>
    <div id="recommended" style="display: flex; color: black; text-align: center; justify-content: center;">
      <div class="subsection">
          <p>https://www.atlantis.com/dubai/dining/milos</p>
      </div>
      <div class="subsection" >
        <p>https://www.fillicafe.com/</p>
      </div>
      <div class="subsection">
          <p>https://www.dubaiopera.com/en-US/home</p>
      </div>
      <div class="subsection">
        <p>https://www.burjkhalifa.ae/en/</p>
    </div>
    </div>
    <!-- 
    <div id="gallery">
      <div class="pic"><img src="img/BackgroundImage-I.jpg"></div>
      <div class="pic"><img src="img/dubai_day1.jfif"></div>
      <div class="pic"><img src="img/BackgroundImage-II.jpg"></div>
      <div class="pic"><img src="img/dubai_day2.jfif"></div>
      <div class="pic"><img src="img/BackgroundImage-III.jpg"></div>
      <div class="pic"><img src="img/dubai_day3.jpg"></div>
    </div> -->
  </div>
</body>
<!---->
<app-loginregisterfunctionality></app-loginregisterfunctionality>
<div class="footer">
  <p style="color: white;">Terms of use | Privacy Notice | Copyright 2023. This site is managed by Team - 6 of SWEN.261.600. Site last updated [21/11/2023]</p>
</div>